body{
    background-color: cyan;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
}

h1{
    margin-left: 10%;
}

label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;
    font-size: 1.05em;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.opCursos{
    display: inline-flex;
    text-align: left;
    font-size: 0.8em;
    color: white;
    text-shadow: 5px 1px 1px black;
}

input[type=text]{
    display: inline-block;
}

.titulo{
    color: #F0FFFF;
    font-weight: bold;
    text-shadow: 2px 1px 1px black;
}

input[type=submit]{
    display: block;
    float: none;

}